nav{
    /* margin-top: 10px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* padding: 2px; */
    display: flex;
    align-items: center;
  }
nav>div{
    display: flex;
    width:70%;
     /* border:1px solid red;  */
    margin: auto;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    padding: 10px;
}
nav>div div:nth-child(3)>button{
    padding:10px;
    width:100px;
    border-radius: 10px;
    color: white;
    background-color: red;
    /* border: none; */
}
nav>div div:nth-child(3){
    width: 200px;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* search bar */
.search-box {
    width: 700px;
    position: relative;
    display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
     /* border: 2px solid red;  */
    /* margin-left: 105px; */
    /* margin-top: -30px; */
  }
  
  .search-input {
    width: 99%;
    height: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px 45px 15px 15px;
    background-color: #eaeaeb;
    /* color: #6c6c6c; */
    border-radius: 6px;
    border:none;
    padding: 20px;
    transition: all .4s;
  }
  
  .search-input:focus {
    border:none;
    outline:none;
    box-shadow: 0 3px 12px #dacc08;
    -moz-box-shadow: 0 3px 12px #8dafe1;
    -webkit-box-shadow: 0 3px 12px #788dac;
  }
  
  .search-btn {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #6c6c6c;
    transition: all .4s;
    z-index: 10;
  }
  
  .search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
  }
  
  .search-btn:focus {
    outline:none;
    color:black;
  }

 #parent{
  /* border: 1px solid green; */
  width:70%;
  margin: auto;
  gap: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
 }  
 #parent>div p{
  margin-left: 10px;
 }
 #parent>div h3{
  margin-left: 10px;
 }
 #parent>div img{
  /* border: 1px solid red; */
  width:100%;
  padding: 10px;
  
 }
 /* #parent>div button{
  padding: 5px;
  margin-right: 5px;
 }
 #parent>div button:nth-child(1){
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
 } */
 
 #parent select{
   border: 1px solid whitesmoke; 
  margin-right: 10px;
  margin-left: 5px;
 }
 #rem{
  padding: 5px;
  /* margin-right: 5px; */
  margin-left: 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;

 }
 #selec{
  margin-left: 10px;
 }

 #inb{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: red;
 }
 #deb{
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: red;
 }

#cart{
  margin-left: 300px;
  margin-bottom: 30px;
}

#chk{
  display: none;
  width:10%;
  margin: auto;
  background-color: red;
  color: white;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: 850px;
  margin-top: 40px;
}