
  nav{
    /* margin-top: 10px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* padding: 2px; */
    display: flex;
    align-items: center;
  }
nav>div{
    display: flex;
    width:70%;
     /* border:1px solid red;  */
    margin: auto;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    padding: 10px;
}
nav>div div:nth-child(3)>button{
    padding:10px;
    width:100px;
    border-radius: 10px;
    color: white;
    background-color: red;
    /* border: none; */
}
nav>div div:nth-child(3){
    width: 200px;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* search bar */
.search-box {
    width: 700px;
    position: relative;
    display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
     /* border: 2px solid red;  */
    /* margin-left: 105px; */
    /* margin-top: -30px; */
  }
  
  .search-input {
    width: 99%;
    height: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px 45px 15px 15px;
    background-color: #eaeaeb;
    /* color: #6c6c6c; */
    border-radius: 6px;
    border:none;
    padding: 20px;
    transition: all .4s;
  }
  
  .search-input:focus {
    border:none;
    outline:none;
    box-shadow: 0 3px 12px #dacc08;
    -moz-box-shadow: 0 3px 12px #8dafe1;
    -webkit-box-shadow: 0 3px 12px #788dac;
  }
  
  .search-btn {
    background-color: transparent;
    font-size: 18px;
    padding: 6px 9px;
    margin-left:-45px;
    border:none;
    color: #6c6c6c;
    transition: all .4s;
    z-index: 10;
  }
  
  .search-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
  }
  
  .search-btn:focus {
    outline:none;
    color:black;
  }
  #log{
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
  }

footer{
    background-color: whitesmoke;
}

#foot{
    border-bottom: 1px solid rgb(213, 209, 209);
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 30px;
}

#foot>div:nth-child(4)>button{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    
}
#foot>div:nth-child(4)>h4{
    margin-bottom: 5px;
}
#foot>div:nth-child(4)>img{
    height: 40px;
    width:100px;
}
#last{
    /* border:1px solid red; */
    display: flex;
    width:80%;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
#last>div{
    /* border:1px solid red; */
    width:200px;
    display: flex;
    justify-content: space-around;
}
#last>button{
    border: none;
    padding: 5px;
    background-color: white;
}
#footer>h2{
    margin-bottom: 0px;
}
#footer>p:nth-child(1){
    margin-top: 0px;
}
#detail{
    width:70%;
    margin:auto;
    margin-bottom: 50px;
    padding-top: 50px;
}
#detail>h4{
    margin-bottom: 0px;
}
#detail>p:nth-child(1){
    margin-top: 0px;
    border: 1px solid red;
}
/* middle section */

#middle-sect{
    width:70%;
    margin: auto;
    margin-bottom: 70px;
}

#middle-sect>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}


#middle-sect>div img{
     /* border: 1px solid red; */
     margin-bottom: 0px;
}
#middle-sect>div h3{
    margin-top: 0px;
    margin-bottom: 10px;
}
#middle-sect>div p{
    margin-top: 0px;
}
#middle-sect>h2{
    border-bottom: 2px solid red;
    margin-bottom: 40px;
    width:15%;
}
#heading{
    width:70%;
    margin: auto;
    /* border-bottom: 1px solid red; */
    margin-top: 50px;
}
#heading h3{
   border-bottom: 2px solid red;
   width:190px;
}
#datappend{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    /* border: 1px solid red; */
    width:70%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 70px;
}
#datappend img{
    width: 100%;
    padding:20px;
}
#datappend>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#datappend>div h3{
    /* border: 1px solid red; */
    padding-left: 10px;
   
}
#datappend>div p{
    /* border: 1px solid red; */
    padding-left: 10px;
   
}
/* top section */

#category{
    display: flex;
    /* border: 1px solid red; */
    width:70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
}
#category>div{
    border: 1px solid rgb(208, 207, 207);
    border-radius: 10px;
}
#category>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}


/* Dropdown Button */
/* .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */
  
  /* Dropdown button on hover & focus */
  */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}